<!DOCTYPE html>
<html>
    <head>
        <title>Kitchen Queue</title>
    </head>




    <body>
        <div class='main-title'>
            <h1>Kitchen Queue</h1>
        </div>
        

        <div class='logout-container'>
            <button style='float: right;'>Log Out</button>
        </div>

        <div class='queue-header'>
            <ul>
                <li style ='display: inline;'>Order</li>
                <li style ='display: inline;'>Time</li>
                <li style ='display: inline;'>Order Status</li>
            </ul>
        </div>
        <hr>

        <div class='row-container'>
            
        </div>


        <div class='back-button'>
            <button>Back</button>
        </div>


    </body>
</html>