<!DOCTYPE html>
<html>
    <head>
        <title>Manager Home</title>
    </head>
    <body>
        <h1>Manager Home View</h1>
        <div class='logout-container'>
            <button style='float: right;'>Log Out</button>
        </div>

        <div class='main-button'>
            <button><a href='#report'>End of Day Report</a></button>
            <button><a href='#edit-menu'>Edit Menu</a></button>
        </div>
        <br>
        <div class='back-button'>
            <button>Back</button>
        </div>
    </body>
</html>