@import url('https://fonts.googleapis.com/css2?family=Inter:wght@200;300;400;500;600;700;800;900&family=Kaushan+Script&family=Montserrat:wght@200;300;400;500;600;700;800;900&display=swap');

:root{
    --Inter: 'Inter', sans-serif;
    --Kaushan: 'Kaushan Script', cursive;
    --Mont: 'Montserrat', sans-serif;
}


ul{
    list-style-type: none;
    margin: 0px;
    padding: 0px;
    overflow: hidden;
    background-color: black;
    font-family: var(--Inter);
    border-radius: 4px;
}

li{
    float: left;
    border-right: 1px solid white;
}

li a{
    display: block;
    color: white;
    text-align: center;
    padding: 10px 16px;
    text-decoration: none;
    font-family: var(--Inter);
    font-weight: bold;
}

.nav-right{
    float: right;
}

.main-buttons{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 5% 5% 0% 5%;
    
}

.button{
    background-color: black;
    color: white;
    border: none;
    text-align: center;
    text-decoration: none;
    padding: 30px;
    font-family: var(--Inter);
    font-size: 40px;
    font-weight: bold;
    margin: 20px;
    display: block;
    border-radius: 4px;
}

.button a{
    color:white;
    text-decoration: none;
}

.button:hover{
    box-shadow: 0 0 16px 4px rgba(0, 0, 0, 0.75);
}


.back-button{
    font-family: var(--Inter);
    font-size: 16px;
    background-color: black;
    border: none;
    border-radius: 4px;
    padding: 20px;
    position: absolute;
    bottom: 0px;
    
}

.back-button a{
    text-decoration: none;
    color: white;
}

.back-button:hover{
    box-shadow: 0 0 16px 4px rgba(0, 0, 0, 0.75);
}
:root{
    --Inter: 'Inter', sans-serif;
    --Kaushan: 'Kaushan Script', cursive;
    --Mont: 'Montserrat', sans-serif;
}
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-weight: bold;
}
/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type=number] {
  -moz-appearance: textfield;
}
body{
    line-height: 1.5;
    font-family: var(--Mont);
    background-color: white;
}

.blueButton{
    background-color: cyan;
    width: 200px;
    height: 100px;
}
.goBackButton{
    background-color: white;
    width: 150px;
    height: 75px;
}
.refillDrinkButton{
    background-color:white;
    width: 150px;
    height: 75px;
}
.helpButton{
    background-color:white;
    width: 150px;
    height: 75px;
}

.dropdown {
    position: relative;
    display: inline-block;
    margin: 0px auto;
}

.dropDownButton {
    background-color: cyan;
    color: black;
    padding: 16px;
    font-size: 16px;
    border: none;
    cursor: pointer;
}

.dropDownContents {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    z-index: 1;
}

.dropDownContents a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

.dropDown:hover .dropDownContents {
    display: block;
}
div{
    align-items: center;
    display: flex;
    flex-direction: row;
    justify-content: center;

  }
img     {
    height: 500px;
    width: 340px;  
    border: 3px solid black;
    border-radius: 10px;
    margin: 0px 8px;
    display: block;
    box-shadow: 0 0 16px 4px rgba(0, 0, 0, 0.75);
    
}
.square {
    background: #5F9EA0;
    border-radius: 25px;
    margin: auto;
    width: 1000px;
    height: 200px;
    line-height: 200px;
    text-align: center;
    font-size: 25px;
    border: 3px solid black;
}
.container {
  display: -ms-grid;
  display: grid;
  grid-gap: 0.5em;
  -ms-grid-rows: (1fr)[2];
      grid-template-rows: repeat(2, 1fr);
  -ms-grid-columns: (1fr)[4];
      grid-template-columns: repeat(4, 1fr);
  width: 100vw;
  height: 100vh;
}

.grid-1 {
  -ms-grid-column: 1;
      grid-column-start: 1;
  grid-column-end: 3;
  -ms-grid-row: 1;
      grid-row: 1;
}
.grid-2 {
  -ms-grid-column: 3;
      grid-column-start: 3;
  grid-column-end: 5;
  -ms-grid-row: 1;
      grid-row: 1;
}
.grid-3 {
  -ms-grid-column: 1;
      grid-column-start: 1;
  grid-column-end: 3;
  -ms-grid-row: 2;
      grid-row: 2;
}
.grid-4 {
  -ms-grid-column: 3;
      grid-column-start: 3;
  grid-column-end: 5;
  -ms-grid-row: 2;
      grid-row: 2;
}

.callout {
  margin: 0;
  background-color: #5F9EA0;
}