@import url('https://fonts.googleapis.com/css2?family=Inter:wght@200;300;400;500;600;700;800;900&family=Kaushan+Script&family=Montserrat:wght@200;300;400;500;600;700;800;900&display=swap');

:root{
    --Inter: 'Inter', sans-serif;
    --Kaushan: 'Kaushan Script', cursive;
    --Mont: 'Montserrat', sans-serif;
}

/* Navigation Bar Styles */
ul{
    list-style-type: none;
    margin: 0px;
    padding: 0px;
    overflow: hidden;
    background-color: black;
    font-family: var(--Inter);
    border-radius: 4px;
}

li{
    float: left;
    border-right: 1px solid white;
}

li a{
    display: block;
    color: white;
    text-align: center;
    padding: 10px 16px;
    text-decoration: none;
    font-family: var(--Inter);
    font-weight: bold;
}

.nav-right{
    float: right;
}

/* Button Alignment and Hover Effect */
.main-buttons{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 5% 5% 0% 5%;
    
}

.button{
    background-color: black;
    color: white;
    border: none;
    text-align: center;
    text-decoration: none;
    padding: 30px;
    font-family: var(--Inter);
    font-size: 40px;
    font-weight: bold;
    margin: 20px;
    display: block;
    border-radius: 4px;
}

.button a{
    color:white;
    text-decoration: none;
}

.button:hover{
    box-shadow: 0 0 16px 4px rgba(0, 0, 0, 0.75);
}


.back-button{
    font-family: var(--Inter);
    font-size: 16px;
    background-color: black;
    border: none;
    border-radius: 4px;
    padding: 20px;
    position:absolute;
    bottom: 0px;
}

.back-button a{
    text-decoration: none;
    color: white;
}

.back-button:hover{
    box-shadow: 0 0 16px 4px rgba(0, 0, 0, 0.75);
}

:root{
    --Inter: 'Inter', sans-serif;
    --Kaushan: 'Kaushan Script', cursive;
    --Mont: 'Montserrat', sans-serif;
}

.goBackButton{
    background-color: white;
    width: 150px;
    height: 75px;
}
.refillDrinkButton{
    background-color:white;
    width: 150px;
    height: 75px;
}
.helpButton{
    background-color:white;
    width: 150px;
    height: 75px;
}


.button-name{
    margin-top: 5%;
    padding: 180px;
    margin-left: 20px;
    margin-right: 20px;
    border-radius: 4px;
    background-color: black;
    border: none;
}

.button-name:hover{
    box-shadow: 0 0 16px 4px rgba(0, 0, 0, 0.75);
}   
  

  .header {
      text-align: center;
      font-size: 100px;
  }


  /* Box Style for Coupons */
  .form-box {
      width: 1100px;
      height: 1200px;
      background: rgba(0,0,0,0.8);
      margin: 12% auto;
      padding: 50px 0;
      color: white;
      box-shadow: 0 0 20px 2px rgba(0,0,0,0.5);
      border-radius: 25px;

  }

  h1 {
      text-align: center;
      margin-bottom: 40px;

  }

  .input-box {
     margin: 31px auto;
     width: 80%;
     border-bottom: 1px solid #fff;
     padding-top: 10px;
     padding-bottom: 5px;

  }

  .input-box input {
     width: 90%;
     border: none;
     outline: none;
     background: transparent;
     color: #fff;
  }

  ::placeholder {
      color: #ccc;
  }

  body {
     font-family: Arial, Helvetica, sans-serif;
  }
  
  .coupon {
      border: 5px solid black;
      width: 25%;
      border-radius: 15px;
      float: left;
      max-width: 380px;
      margin-left: 30px;
      margin-top: 40px;

  }

  .container {
      padding: 1px 50px;
      width: 40%;

  }
 
 .promo {
     background-color: #ccc;
     padding: 10px;
 
 }

 .expire {
     color: red;
 }

 .points {
     color: white;
     background-color: black;
     border-radius: 25px;
     height: 100px;
     width: 200px;
     margin-top: 800px;
     text-align: center;
     margin-left: 30px;

 }








