{% load static %} <!--This is a django-html tag to load the location of the static files we need like stylesheets and javascript files-->


<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Food Menu


    </title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="{% static '/menu/styles.css' %}" type="text/css">
    <!-- fontawesome icon -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.1/css/all.min.css" integrity="sha512-+4zCK9k+qNFUR5X+cKL9EIR+ZOhtIloNl9GIKS57V1MyNsYpYcUrUeQc9vNfzsWfV28IaLL3i96P9sdNyeRssA==" crossorigin="anonymous" />
    
  </head>
  <body>
  	<nav style="text-align: right; padding-right: 10px;"> <a href="#" style="text-decoration: none; color: white">Login          <i class="fa fa-user" aria-hidden="true" style="color: black"></i>
</a>
<a href="{% url 'cart' %}" style="color: black; padding-left: 20px;"><i class="fa fa-shopping-cart" aria-hidden="true"></i></a>

</nav>

    <section class = "menu">
      <div class = "menu-container">
        
        <div class = "menu-btns">
        	<div class="btn-hover">
          <button type = "button" class = "menu-btn active-btn" id = "featured">Breakfast</button>
      </div>
      <div class="btn-hover">
          <button type = "button" class = "menu-btn" id = "today-special">Lunch </button>
      </div>
        </div>
        {%for item in itms %}
 
        <div class = "food-items">
          <!-- item -->
          <div class = "food-item featured">
            <div class = "food-img">
              <img src = "" alt = "food image">
            </div>
            <div class = "food-content">
              <h2 class = "food-name">{{item.name}}</h2>
              <h3 class = "food-price">${{item.price}}</h3>
   
              <button style="width: 25px; height: 20px;" id="inct" onclick="increase('{{item.pk}}')"> + </button>
              <input id=demoInput type=number style="width: 40px;">
              <button style="width: 25px; height: 20px;" id="inct" onclick="decrease('{{item.pk}}')"> - </button>

             <script src="https://use.fontawesome.com/a6e14efad5.js"></script>
    
           
              <p class = "category">Categories: <span>Featured</span></p>
            </div>
          </div>
          <!-- end of item -->
          

          
        </div>
        <script
        src="https://code.jquery.com/jquery-3.4.1.min.js"
        integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo="
        crossorigin="anonymous"></script>
        <script type="text/javascript">
          // Create an instance of the Stripe object with public stripe key
          function increase(click_id){
          $.ajax({
            url: `{% url "add-to-order" %}`,
            data: {
        "id" :click_id
    },            type: 'get',
            
          })}
          function decrease(click_id){
          $.ajax({
            url: `{% url "reduce-order-item" %}`,
            data: {
        "id" :click_id
    },            type: 'get',
            
          })}
        </script>
        {%endfor%}

      </div>
    </section>

    


    
    
  </body>
</html>
