<!DOCTYPE html>
<html lang = "en">
<head> 
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    
    <title>How many payments?</title>
    <link rel="stylesheet" href="styleCartAndPayment.css">

    <style> 

        
    </style>
<head>



<body>
    <header>
        <button class = refillDrinkButton>
            <p>Refill drink</p>
        </button>
        <button class = helpButton>
            <p>Help</p>
        </button>
    </header>
    <h1>How many ways would you like to split your bill?</h1>
    
    <div class="dropDown">
        <button class="dropDownButton">Use this drop down menu</button>
        <div class="dropDownContents">
          <a href="#">2 payments</a>
          <a href="#">3 payments</a>
          <a href="#">4 payments</a>
        </div>
    </div>

    <footer>
        <button class = goBackButton>
            <p>Go Back</p>
        </button>
    </footer>
</body> 