<!DOCTYPE html>
<html lang = "en">
<head> 
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    
    <title>Split payment or no?</title>
    <link rel="stylesheet" href="styleCartAndPayment.css">

    <style>
    </style>

</head> 



<body>
    <header>
        <button class = refillDrinkButton>
            <p>Refill drink</p>
        </button>
        <button class = helpButton>
            <p>Help</p>
        </button>
    </header>

    <h1>Would you like to split payment?</h1>

    <button class = blueButton>
        <p>Yes, split payment</p>
    </button>
    <button class = blueButton>
        <p>No, do not split payment</p>
    </button>
    <footer>
        <button class = goBackButton>
            <p>Go Back</p>
        </button>
    </footer>
</body> 
