<!DOCTYPE html>


<html lang = "en">
<head> 
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    
    <title>Table Map</title>
    <link rel="stylesheet" href="styleCartAndPayment.css">

    <style>
        .table1{
            background-color:white;
            width: 200px;
            min-height: 150px;  
            padding: 10px;
            border: 2px solid darkgreen;
            box-sizing: border-box;
            float:left;
            margin: 0.5%;
        }

        .table2{
            background-color:white;
            width: 200px;
            min-height: 150px;  
            padding: 10px;
            border: 2px solid darkgreen;
            box-sizing: border-box;
            float:right;
            margin: 0.5%;
        }

        .tableRow{
            background-color: white;
            width:80%;
            min-height: 160px;
            padding: 10px;
            box-sizing: border-box;
            float: right;
        }
        
    </style>

</head> 

    <body>
        <!--Nav Bar -->
        <nav>
            <ul>
                <li><a href="#home">Home</a></li>

                <li class="nav-right"><a href="#refill">Refill drink</a></li>
                <li class="nav-right"><a href="#help">Help</a></li>
                <li class="nav-right" style="border-left: 1px solid white;"><a href="#login-signup">Login/Sign-Up</a></li>
            </ul>
        </nav> <!--End of Nav-->

        <h1 style="text-align:center;">
            Table Map
        </h1>
        <br>

        <!--Display boxes representing 10 tables-->
        <!--first row of tables-->
        <div class=tableRow>
            <div class=table1>
                <p>
                    Table 1 <!--Table 1 displayed here-->
                </p>
                <br>
                <p>
                    Assigned waiter: Bob
                </p>
                <p>
                    Status: Still browsing menu
                </p>
            </div>  
            <div class=table1> 
                <p>
                    Table 2 <!--Table 2 displayed here-->
                </p>
                <br>
                <p>
                    Assigned waiter: Karl
                </p>
                <p>
                    Status: Order is placed 
                </p>
            </div>  
            <div class=table1>
                <p>
                    Table 3 <!--Table 3 displayed here-->
                </p>
                <br>
                <p>
                    Assigned waiter: Karl
                </p>
                <p>
                    Status: still browsing menu 
                </p>
            </div>  
            <div class=table2>
                <p>
                    Table 4 <!--Table 4 displayed here-->
                </p>
                <br>
                <p>
                    Assigned waiter:
                </p>
                <p>
                    Status: 
                </p>
            </div>  
        </div>    
        
        <!--second row of tables-->
        <div class=tableRow>
            <div class=table1>
                <p>
                    Table 5 <!--Table 5 displayed here-->
                </p>
                <br>
                <p>
                    Assigned waiter:
                </p>
                <p>
                    Status: 
                </p>
            </div>  

            <div class=table1>
                <p>
                    Table 6 <!--Table 6 displayed here-->
                </p>
                <br>
                <p>
                    Assigned waiter:
                </p>
                <p>
                    Status: 
                </p>
            </div>  

            <div class=table1>
                <p>
                    Table 7 <!--Table 7 displayed here-->
                </p>
                <br>
                <p>
                    Assigned waiter:
                </p>
                <p>
                    Status: 
                </p>
                </p>
            
            </div>  
            <div class=table2>
                <p>
                    Table 8 <!--Table 8 displayed here-->
                </p>
                    <br>
                <p>
                    Assigned waiter:
                </p>
                <p>
                    Status: 
                </p>
            </div> 
        </div>  
        
        <!--third row of tables-->
        <div class=tableRow>
            <div class=table1>
                <p>
                    Table 9 <!--Table 9 displayed here-->
                </p>
                <br>
                <p>
                    Assigned waiter:
                </p>
                <p>
                    Status: 
                </p>
            
            </div>  
            <div class=table2>
                <p>
                    Table 10 <!--Table 10 displayed here-->
                </p>
                <br>
                <p>
                    Assigned waiter:
                </p>
                <p>
                    Status: 
                </p>
                
            </div> 
        </div>  

        

        <!--Back Button-->
        <button class="back-button"><a href="#back">Back</a></button>
        

    </body>