{% load static %}
<!DOCTYPE html>
<html>

<head>
    <link rel="stylesheet" href="{% static '/orders/styleCartAndPayment.css' %}">

</head>
<!--Nav Bar -->
<nav>
    <ul>
        <li><a href="{% url 'homepage' %}">Home</a></li>
        <li><a href="{% url 'menu_home' %}">Menu</a></li>
        <li><a href="{% url 'games-home-guest' %}">Games</a></li>
        <li><a href="{% url 'finish-pay' %}">Place Order</a></li>
        <li><a href="{% url 'pay' %}">Pay Now</a></li>

        <li class="nav-right"><a href="{% url 'help' %}" onclick="myFunction()">Help</a></li>
        <li class="nav-right" style="border-left: 1px solid white;"><a href="{% url 'login'%}">Login/Sign-Up</a></li>
    </ul>
    <script>
        function myFunction() {
          alert("Help Requested. A waiter will be at your table soon");
        }
        </script>
</nav> <!--End of Nav-->
    {% block content %}
    {% endblock %}
</html>