
{% extends 'base.html' %}
{% load static %}

{% block content %}
<head>
        <title>Home Page</title>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">

      
        <link rel="stylesheet" href="{% static '/orders/styleCartAndPayment.css' %}">


    </head>
        <div class='container'> <!--Main container-->


            <div class='main-text'>
            <h1 class='main-header'>Welcome</h1>
            <h2 class='main-header'>Please select a role</h2>
            </div>

            <div class='main-buttons'>
                <button class='button-name'><a href='{% url 'customer-homepage' %}'>Customer</a></button>
                <button class='button-name'><a href='/admin/'>Employee</a></button>
            </div>



        </div> <!--Container ends here-->

        
  {% endblock %}
