{% load static %}
<!DOCTYPE html>
<html>

<head>
    <link rel="stylesheet" href="{% static '/orders/styleCartAndPayment.css' %}">
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">

    <title>Home Page</title>
    
</head>
<!--Nav Bar -->
<nav>
    <ul>
        <li><a href="{% url 'customer-homepage' %}">Home</a></li>
       

        <li class="nav-right"><a href="{% url 'help' %}" onclick="myFunction()">Help</a></li>
        <li class="nav-right" style="border-left: 1px solid white;"><a href="{% url 'free_table'%}">Logout</a></li>
        
    </ul>
</nav> <!--End of Nav-->
   <!--Main Page Buttons-->
   <div class="main-buttons">
    <button class="button"><a href="{% url 'categories' category_id=1 %}">Menu</a></button>
    <button class="button"><a href="{% url 'games_home' %}">Games</a></button>
    <button class="button"> <a href="{% url 'finish-pay' %}">Place Order</a></button>
    <button class="button"> <a href="{% url 'cart' %}">Cart</a></button>
</div>

<!--Back Button-->
<button class="back-button"><a href="{% url 'blank' %}">Back</a></button>
<script>
    function myFunction() {
      alert("Help Requested. A waiter will be at your table soon");
    }
    </script>
</html>
 
       
       
        



 