<!-- Cart Page

This page shows everything currently in the customer cart.
It displays names of items with their quantities and costs and totals cost.
By pressing the 'place order' button, the customer can begin playment.

-->

{% extends 'base.html' %}

{% block content %}
    <!--Page Heading-->
    <br>
    <h1 style="text-align:center;">Cart</h1>
    <br>

    <!--Print Cart Items with quantities and costs-->
    <div>
        {% for item in items %}
        <div style="display: flex; justify-content: center;">
            <p style="text-align: center;">{{item.Item.name}}</p>
            <p style="margin-left: 10px;"> x</p>
            <p style="margin-left: 10px;">{{item.quantity}} = {{item.cost}}</p>
        </div>
        {%endfor%}

        <!-- Print total -->
        <hr style="width:35%;margin:auto">
        <p style="margin-left: 10px; text-align:center;">Tax = {{tax}}</p>

        <p style="margin-left: 10px; text-align:center;">Total = {{order.cost}}</p>
    </div>

     <!--Payment Button-->
     <div class="main-buttons">
        <button class="button"><a href='{% url 'finish-pay' %}'>Place order</a></button>
    </div>

    <footer>
        <!--Back Button-->
        <button class="back-button"><a href="#back">Back</a></button>
    </footer>       

</body>  

{% endblock %}