<!DOCTYPE html>
<html lang = "en">
<head> 
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    
    <title>Cart Page</title>
    <link rel="stylesheet" href="style.css">

    <style>
        .cartBox{
            background-color: cyan;
            width: 300px;
            height: 500px;
        }
        .buttonBox{
            background-color: fuchsia;
            width: 200px;
            height: 100px;
        }
    </style>

</head> 



<body>
    <h1>Cart Page</h1>

    <div class = cartBox>
        <p>cart items listed here</p>
    </div>

    <button class = buttonBox>
        <p>place order button</p>
    <button>    

</body>  