{% extends 'order_base.html' %}

{% block content %}
    <h1 style="text-align:center;">
        What percent of your bill would you like to add as a tip?
    </h1>
    
    <!--Main Page Buttons-->
    <div class="main-buttons">
        <button class="button">10 percent</button>
        <button class="button">15 percent</button>
        <button class="button">20 percent</button>
    </div>

    <form action="{% url 'tip' %}" method="post">
        {% csrf_token %}
        <label>Alternatively, you can enter rate here</label><br>
        <input name="submit"><br>
        
        <input type="submit" value="Submit" >
      </form> 
      
      

    <!--Back Button-->
    <button class="back-button"><a href="#back">Back</a></button>
</body> 
{% endblock %}