{% extends 'order_base.html' %}

{% block content %}
    <h1 style="text-align:center;">
        How many ways would you like to split your bill?
    </h1>
    
    <!--Main Page Buttons-->
    <div class="main-buttons">
        <button class="button">2 payments</button>
        <button class="button">3 payments</button>
        <button class="button">4 payments</button>
    </div>

    <!--Back Button-->
    <button class="back-button"><a href="#back">Back</a></button>
</body> 
{% endblock %}