<!DOCTYPE html>
<html lang = "en">
<head> 
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    
    <title>Card Payment</title>
    <link rel="stylesheet" href="styleCartAndPayment.css">


</head>

<body>
    <header>
        <button class = refillDrinkButton>
            <p>Refill drink</p>
        </button>
        <button class = helpButton>
            <p>Help</p>
        </button>
    </header>
    <h1>Enter your card information and press "Pay".</h1>

    <form>
        <label for="cardNumber">Enter card number here:</label><br>
        <input type="text" num="cardNumber"><br>
    </form>
   
    <button class = blueButton>
        <p>Pay</p>
    </button>
   
    <footer>
        <button class = goBackButton>
            <p>Go Back</p>
        </button>
    </footer>
</body>  