{% extends 'order_base.html' %}

{% block content %}
    <h1 style="text-align:center;">
        Enter your card information and press "Pay".
    </h1>

    <form style="text-align:center;">
        <label for="cardNumber">Enter card number here:</label><br>
        <input type="text" num="cardNumber"><br>
    </form>
   
     <!--Main Page Buttons-->
     <div class="main-buttons">
        <button class="button">Process payment</button>
    </div>
   
    <footer>
        <!--Back Button-->
         <button class="back-button"><a href="#back">Back</a></button>
    </footer>
</body>  
{% endblock %}