{% extends 'order_base.html' %}

{% block content %}
    <h1 style="text-align:center;">
        What percent of your bill would you like to add as a tip?
    </h1>
    
    <!--Main Page Buttons-->
    <div class="main-buttons">
        <button class="button">10 percent</button>
        <button class="button">15 percent</button>
        <button class="button">20 percent</button>
    </div>

    <form style="text-align:center;">
        <label for="tipAmount">Alternately, enter your custom tip percentage here:</label><br>
        <input type="text" num="tipAmount"><br>
    </form>

    <!--Back Button-->
    <button class="back-button"><a href="#back">Back</a></button>
</body> 
{% endblock %}