<!--

This is the page for choosing payment method: cash or card.

-->

{% extends 'order_base.html' %}

{% block content %}
    <!-- Page heading -->
    <h1 style="text-align:center;">
        Choose your payment method.
    </h1>

    <!--Main Page Buttons-->
    <div class="main-buttons">
        <button class="button"> <a href="{% url 'card0' %}">Credit</a></button>
        <button class="button" onclick="alertFunc()"><a href="{% url 'cash' %}">Cash</a></button>
    </div>
   
    <footer>
        <!--Back Button-->
         <button class="back-button"><a href="{% url 'customer-homepage' %}">Back</a></button>
    </footer>
    <script>function alertFunc() {
        alert("Please wait. A waiter will be at your table soon to place your order");
      }</script>
    
</body>
{% endblock %}
