<!DOCTYPE html>
<html lang = "en">
<head> 
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    
    <title>Cash payment</title>
    <link rel="stylesheet" href="styleCartAndPayment.css">



</head>

<body>
    <header>
        <button class = refillDrinkButton>
            <p>Refill drink</p>
        </button>
        <button class = helpButton>
            <p>Help</p>
        </button>
    </header>
    <h1>A waiter will collect your cash now.</h1>

    <form>
        <label for="confirmPaymentCode">Waiter enters payment confirmation code here:</label><br>
        <input type="text" num="confirmPaymentCode"><br>
    </form>
   
    <button class = blueButton>
        <p>End payment</p>
    </button>
   
    <footer>
        <button class = goBackButton>
            <p>Go Back</p>
        </button>
    </footer>
</body>    