{% extends 'order_base.html' %}

{% block content %}
    <h1 style="text-align:center;">
        Choose your payment method.
    </h1>

    <!--Main Page Buttons-->
    <div class="main-buttons">
        <button class="button"> <a href="{% url 'card0' %}">Credit</a></button>
        <button class="button">Cash</button>
    </div>
   
    <footer>
        <!--Back Button-->
         <button class="back-button"><a href="#back">Back</a></button>
    </footer>
</body>
{% endblock %}